<form [formGroup]="miForm" (ngSubmit)="crearPost()">
  <p>
    <mat-form-field appearance="standard">
        
      <mat-label>Introduce Titulo</mat-label>
    
      <input matInput placeholder="Title" formControlName="title">
      
      
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Introduce Content</mat-label>
    
      <input matInput placeholder="Content" formControlName="content">
      
      
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Introduce published(1/0)</mat-label>
    
      <input type="number" matInput placeholder="Published" formControlName="published">
      
      
    </mat-form-field>
  </p>
   
  <button mat-raised-button color="primary">Primary</button>
  </form>