<form [formGroup]="miForm" (ngSubmit)="crearPost()">
  <p>
    <mat-form-field appearance="standard">
        
      <mat-label>Introduce Titulo</mat-label>
    
      <input matInput placeholder="Title" formControlName="title">
      
      
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Introduce Content</mat-label>
    
      <input matInput placeholder="Content" formControlName="content">
      
      
    </mat-form-field>
  </p>
  
    
      <p><mat-checkbox formControlName="published">Published</mat-checkbox></p>
            
   
  
   
  <button mat-raised-button color="primary">Primary</button>
  </form>